
section {
    display: block;
    margin-top: 50px;
    /* margin-bottom: -107px; */
    /* border: solid; */
}

#HomePage_about__KBFWW .HomePage_secondDiv__lALhm {
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* border:1px solid red; */
    gap:7%;
    width: 83%;
    margin: 7% auto 7% auto; 
}
.HomePage_secondDiv__lALhm > .divimge {
     /* border: 2px solid green;  */
    width:60%
}
.HomePage_secondDiv__lALhm > div{
    /* border: 2px solid green;  */
    width:50%
}

.HomePage_secondDiv__lALhm > div >h1, p{
     text-align: start;
} 

#HomePage_about__KBFWW .HomePage_secondDiv__lALhm>div:nth-child(2) h1 {
    color: rgba(0,0,0,.837);
    font-family: Oswald,sans-serif;
    font-size: 30px;
    font-weight: 500;
    width: 80%;
}

#HomePage_about__KBFWW .HomePage_secondDiv__lALhm>div:nth-child(2) p {
    color: rgba(0,0,0,.638);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 70px;
    margin-top: 6px;
    font-family: Nunito Sans,sans-serif;
}

#HomePage_about__KBFWW .HomePage_secondDiv__lALhm>div:nth-child(2) span {
    color: rgba(61, 58, 58, 0.968);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: start;
     padding-right: 60%;
} 

#HomePage_about__KBFWW .HomePage_firstDiv__2J3gv>div:first-child span {
    color: #3b3838d9;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 5px;
}

.HomePage_secondDiv__lALhm img{
    width:100%
}

 /* h1{
    font-size: 30px;
} */
#HomePage_about__KBFWW .HomePage_firstDiv__2J3gv>div:first-child h1 {
    color: rgb(163, 147, 3);
    border-radius: 100px;
    font-family: Oswald,sans-serif;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}

.HomePage_sectionM1__mmrYJ {
    margin: 100px 0;
    /* border:2px solid red; */
  
}



#HomePage_about__KBFWW .HomePage_firstDiv__2J3gv {
    background-color: rgb(41, 41, 41);

    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-top: 0;
    /* border:4px solid red; */
    width: 87%;
    margin: auto;
}


 .HomePage_frstDiv2 >h1{
    margin-top: 50px;
   font-size: 7rem;
    color: rgb(164, 163, 163);
    letter-spacing: -15px;
}  
/* .HomePage_frstDiv2>span{
    font-size: 200px;
} */

#HomePage_about__KBFWW .HomePage_firstDiv__2J3gv>div:first-child {
    text-align: start;
    width: 50%;
}


div {
    display: block;
}

#HomePage_about__KBFWW .HomePage_firstDiv__2J3gv>div:first-child p {
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
    width: 75%;
}

p {
    margin-top: 0.2rem;
    padding-right: 1rem;
}

/* .HomePage_frstDiv2 >span{
    font-size: 300px;
} */
  


@media screen and (min-width:250px) and (max-width:820px){


 #HomePage_about__KBFWW .HomePage_secondDiv__lALhm>div:nth-child(2) span {
    color: rgba(61, 58, 58, 0.968);
    /* color: aqua; */
    font-size: 11px;
    font-weight: 290;
    letter-spacing: 4px;
    text-align: start;
     padding-right: 35%;
} 

#HomePage_about__KBFWW .HomePage_firstDiv__2J3gv>div:first-child span {
    color: #3b3838d9;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 5px;
}

#HomePage_about__KBFWW .HomePage_secondDiv__lALhm {
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* border:1px solid red; */
    gap:2%;
    width: 80%;
    /* margin: 10% 20% 7% 11%;  */
    margin: 10% 15% 6% 8%;
}
.HomePage_secondDiv__lALhm > .divimge {
     /* border: 2px solid green;  */
    width:50%
}
.HomePage_secondDiv__lALhm > div{
    /* border: 2px solid green;  */
    width:40%
}

}